# PRANAV'S PYTHON CODE

In [7]:
c=int(input("enter then value"))
f=((c*(9/5))+32)
k=c+273.15
print(f)
print(k)

enter then value 36

96.8
309.15

fname=input("enter the first nmame:")
lname=input("enter the last name:")
age=int(input("enter the age:"))
nage=int(input("enter the nage:"))
print(fnma)
print(lname)
print(age)
print("after input:")

In [8]:

print("befotre swapping a,b")
a=10
b=20
print(a)
print(b)
print("after the swaping the results")
a=a+b
b=a-b
a=a-b
print(a)
print(b)

befotre swapping a,b
10
20
after the swaping the results
20
10

In [6]:
a = 5
b = 10
print(f"Before swapping: a = {a}, b = {b}")
a, b = b,a
print(f"After swapping: a = {a}, b = {b}")

Before swapping: a = 5, b = 10
After swapping: a = 10, b = 5

In [10]:
a = 5
b = 10
print("before swaoing a,b")
print(a)
print(b)
temp=a
a=b
b=temp
print("aftr swaping a ,b")
print(a)
print(b)

before swaoing a,b
5
10
aftr swaping a ,b
10
5

In [6]:

print("before swapping")
a = 5
b = 10
print(a)
print(b)
print("after swaping")
temp=a
a=b
b=temp
print(a)
print(b)

before swapping
5
10
after swaping
10
5

In [3]:
def midpoint(x1, y1, x2, y2): 
    return ((x1 + x2) / 2, (y1 + y2) / 2)

print(midpoint(2,4,10,15))

(6.0, 9.5)

In [4]:
def midpoint(x1, y1, x2, y2): 
    return ((x1 + x2) / 2, (y1 + y2) / 2)

print(midpoint(2,4,10,15))

(6.0, 9.5)

In [1]:
print("my external marks is")
x=int(input("enter your java marks is:"))
y=int(input("enter your c marks is:"))
z=int(input("enter your  r marks is:"))
i=int(input("enter your ruby marks is:"))
j=int(input("enter your html marks is:"))
add=(x+y+z+i+j)
print("after adding total marks is:",add)
per=(add/500*100)
print("after my persentage is:",per)

my external marks is

enter your java marks is: 78
enter your c marks is: 90
enter your  r marks is: 87
enter your ruby marks is: 90
enter your html marks is: 90

after adding total marks is: 435
after my persentage is: 87.0

In [1]:
a=14
b=25
# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Subtraction:  -11
Multiplication:  350
Division:  0.56
Floor Division:  0
Modulo:  14
Power:  44998795805848373114515226624

# comparrision operater

In [2]:
 a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [1]:
N=int(input("numbr:"))
print(N*)
S=str(input("string:"))
print(S)

numbr: 5

5

string: hello world

hello world

In [1]:
print("hii machha")

hii machha

In [14]:
h="hello world"
print(h[-1])
print(h[:4])
print(h[4:])
print(h[:-4])
print(h[-4:])
print(h[1:-4])

d
hell
o world
hello w
orld
ello w

In [23]:
str="hello world"
print(str[::-4])
print(str[0:11:2])

dwl
hlowrd

In [26]:
va='456'
print(va[::-1])

654

In [8]:
import re

a = "35fgrfg34"
# Extract only the digits from the string
a = int(re.findall(r'\d+', a)[0])
print(type(a))
print(a + 5)

<class 'int'>
40

#  new begins

In [9]:
import random

# Snake Water Gun or Rock Paper Scissors
def gameWin(comp, you):
    # If two values are equal, declare a tie!
    if comp == you:
        return None

    # Check for all possibilities when computer chose s
    elif comp == 's':
        if you=='w':
            return False
        elif you=='g':
            return True
    
    # Check for all possibilities when computer chose w
    elif comp == 'w':
        if you=='g':
            return False
        elif you=='s':
            return True
    
    # Check for all possibilities when computer chose g
    elif comp == 'g':
        if you=='s':
            return False
        elif you=='w':
            return True

print("Comp Turn: Snake(s) Water(w) or Gun(g)?")
randNo = random.randint(1, 3) 
if randNo == 1:
    comp = 's'
elif randNo == 2:
    comp = 'w'
elif randNo == 3:
    comp = 'g'

you = input("Your Turn: Snake(s) Water(w) or Gun(g)?")
a = gameWin(comp, you)

print(f"Computer chose {comp}")
print(f"You chose {you}")

if a == None:
    print("The game is a tie!")
elif a:
    print("You Win!")
else:
    print("You Lose!")

Comp Turn: Snake(s) Water(w) or Gun(g)?

Your Turn: Snake(s) Water(w) or Gun(g)? 4

Computer chose w
You chose 4
The game is a tie!

In [12]:
print("hello karthik",7)

hello karthik 7

#HII ITS NEW 
print("im doing the codes with harry")

In [23]:

"""print("I TAKE THE CHALLENGE OF 100 DAYS") """

'print("I TAKE THE CHALLENGE OF 100 DAYS") '

In [5]:
print("hello world",6,7,8910,sep="-",end="-end ""\n")
print("harry")

hello world-6-7-8910-end
harry

In [6]:
x="allis well"
print(x)
print(x.isalpha())
print(x.islower())
print(x.isupper())
print(x.isdigit())

allis well
False
True
False
False

In [9]:
x="WE ARE DATA SCVIENTIST"
print(x)

WE ARE DATA SCVIENTIST

In [12]:
a=10
if a==10:
    print("hello user")

hello user

a=10
b=50
if b>a:
    print("b is graeter")

In [14]:
n=5
if n%2:
    print("it is greater")
else:
    print("it is not grater")

it is greater

In [30]:
a=10
b=5
c=15
if a>b and c>a:
    print("both condition are true")

both condition are true

In [5]:
x=int(input("enter the number"))
if x > 0:
    print("n*N")
elif x < 0:
    print("n*N*N")

else:
    print("")

enter the number 34

NameError: name 'n' is not defined

In [26]:
#nested if
i=16
if i<15:
    print("is smaler then 15")
else:
    if i>20:
       print("is grater then 20")
    else:
       print("is betwwn 15 and 20")

is betwwn 15 and 20

In [28]:
a=10
if a>20:
    print("a is greater")
else:
    print("a is smaller")

a is smaller

In [1]:
x=int(input("enter the marks"))
if x>60:
    print("first division")

elif x>=50 and x<=59:
    print("second division")

elif x>=40 and x<=49:
    print("third division")

else :
    print("fail")

enter the marks 12

fail

In [2]:
import math

In [4]:
a=int(input("enter the number:"))
if a%2==0 and a%3==0:
    print("yes,a is divisble bye 2 and 3")
else:
    print("not divisible")

enter the number: 6

yes,a is divisble bye 2 and 3

In [10]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

# Input from user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  456

456 is a leap year.

In [20]:
year = int(input("Enter a year: "))
if (year%4 == 0 and year%100 != 0 ) or (year %400 ==0):
    print("it is a leap year")
else:
    print("it is not a leap year")

Enter a year:  34

it is not a leap year

In [5]:
x = int(input("enter a number"))
    if x <= 5 :
        print (x * 2)

    elif x >= 5 and x <= 10 :

        print (10+ (x - 5) ^ * 3)

    elif x >= 11 and x < - 15 :

        print( 25 + (x - 10) * 4 )

    else:


        print(x * 15)

IndentationError: unexpected indent (3589635581.py, line 2)

In [34]:
#odd or even
n=int(input("enter a numbr:"))
if n>0:
    if n%2 != 0:
        print("weird")
    elif n%2==0 and (n>=2 and n<=5):
        print("not weird")
    elif n%2==0 and (n>=6 and n<=20):
        print("weird")
    elif n%2==0 and n>20:
        print("not weird")
    else:
        print("NA")

enter a numbr: 2

not weird

In [35]:
def is_trendy(number):
    if 100 <= number <= 999:
        num_str = str(number)
        middle_digit = int(num_str[1])  
        
        if middle_digit % 3 == 0:
            return True
        else:
            return False
    else:
        return False


number = int(input("Enter a number: "))


if is_trendy(number):
    print(f"{number} is a trendy number.")
else:
    print(f"{number} is not a trendy number.")

Enter a number:  12

12 is not a trendy number.

In [39]:
x=int(input("Enter a Number"))
if x>=100 and x<=999:
    number=str(x)
    mid=int(number[1])
    print(mid)

    if mid % 3==0:
       print("Its a Trendy Number")
    else:
        print("Its not a Trendy Number")

Enter a Number 333

3
Its a Trendy Number

In [40]:
n= int(input("enter your days:"))

if (n<=2):
    print(n*2)
elif (n>=6 and n<10):
    print(10+(n-5)*3)
elif (n>=11 and n<=15):
    print(25+(n-10)*4)
elif(n>16):
    print(45+(n-15)*5)
else:
    print("na")

enter your days: 4

na

In [41]:
x=int(input("Enter a Number"))
if x>=100 and x<=999:
    number=str(x)
    mid=int(number[1])
    print(mid)

    if mid % 3==0:
       print("Its a Trendy Number")
    else:
        print("Its not a Trendy Number")

Enter a Number 77

In [44]:
n1=int(input("enter a numbers"))
n2=int(input("enter a numbers"))
n3=int(input("enter a numbers"))
if n1>n2 and n1>n3:
      print("n1 is grater")
elif n2>n1 and n2>n3:
       print("n2 is grater")
else:
      print("invalid")

enter a numbers 2
enter a numbers 4
enter a numbers 3

n2 is grater

In [46]:
n1=int(input("enter a numbers"))
n2=int(input("enter a numbers"))
n3=int(input("enter a numbers"))
if n1<n2 and n1<n3:
      print("n1 is smlr")
elif n2<n1 and n2<n3:
       print("n2 is smlr")
elif n3<n2 and n3<n1:
       print("n3 is smlr")
else:
      print("invalid")

enter a numbers 3
enter a numbers 1
enter a numbers 2

n2 is smlr

In [2]:
n_items = int(input())
single_items_hitems = float(input())

if n_items == 1:
    r_time = single_items_hitems
elif n_items == 2:
    r_time = single_items_hitems * 1.5
elif n_items == 3:
    r_time = single_items_hitems * 2.5
else:
    print("number of items is more:")

print(r_time)

 2
 2.

3.0

In [3]:
# program to display first 5 natural numbers:
def display_natural_numbers(n):
    for i in range(1, n + 1):
        print(i)

def main():
    n = 5  # Number of natural numbers to display
    print("The first", n, "natural numbers are:")
    display_natural_numbers(n)

if __name__ == "__main__":
    main()

The first 5 natural numbers are:
1
2
3
4
5

In [4]:
# generate an first 25 odd numbers starts from zero 
for i in range(50):
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [9]:
#write a program that determines the price of a movie ticket 

x=int(input("enter customer age:"))
y=float(input("enter show time:"))

if x > 13:
    if y == 10.15 or y == 13.30:
        print("price of the movie ticket is $8.00")
    elif y == 18.00 or y == 22.00:
        print("price of the movie ticket is $5.00")
else:
    if y == 10.15 or y == 13.30:
        print("price of the movie ticket is $4.00")
    elif y == 18.00 or y== 22.00:
        print("price of the movie ticket is $2.00")

enter customer age: 16
enter show time: 10.15

price of the movie ticket is $8.00

In [3]:
birth_year=int(input("enter the birth year:"))
current_year=int(input("enter the current year:"))

if current_year < birth_year:
    age = (100 + current_year) - birth_year
else:
    age = current_year - birth_year

print(f"Your current age is: {age} years")

enter the birth year: 62
enter the current year: 00

Your current age is: 38 years

In [14]:
for i in range(1,6):
    count = 0
    while count < i:
        print(i, end='')
        count += 1
    print()

1
22
333
4444
55555

In [6]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [15]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
# write a program for sum of n numbers using foor loop:
num=int(input("enter your number:"))
sum = 0
for i in range(1,num + 1):
    sum = i + sum

print(sum)

enter your number: 10

55

In [8]:
num=int(input("enter your number:"))
sum = 0
for i in range(1,num + 1):
    sum = i + sum

print(sum/num)

enter your number: 3

2.0