In [1]:
value = {}

In [2]:
type(value)

dict

In [5]:
value=set()

In [6]:
type(value)

set

In [7]:
values = {1,3,5,6,4,7,8,2,9}

In [8]:
values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
set1 = set()
print(set1)

set()

In [10]:
value_set = {2,'PYTHON','a',5,9.4}

In [12]:
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

In [13]:
value_set[0]

TypeError: 'set' object is not subscriptable

In [14]:
value_set.add("apple")

In [15]:
value_set

{2, 5, 9.4, 'PYTHON', 'a', 'apple'}

In [16]:
value_set.remove('PYTHON')

In [17]:
value_set

{2, 5, 9.4, 'a', 'apple'}

In [18]:
value_set.remove(6)

KeyError: 6

In [23]:
value_set.discard(9.4)

In [24]:
value_set.clear()

In [3]:
value_set=set()
n = int(input())
for i in range(n):
    value_set.add(int(input()))
print(value_set)

 5
 1
 2
 3
 4
 5

{1, 2, 3, 4, 5}

In [5]:
value1 = {6,12,26,10}

x=int(input())

if x in value1:
    print("element is present:")
else:
    print("element is not present:")

 10

element is present:

In [6]:
month1_set = {"jan","feb","dec","mar"}
month2_set = {"may","jan","oct","nov"}

month3_set = month1_set.union(month2_set)
print(month3_set)

{'may', 'feb', 'mar', 'dec', 'jan', 'nov', 'oct'}

In [8]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,8,9}

set3=set1.union(set2)
print("union :",set3)
set4 = set1.intersection(set2)
print("intersection: ",set4)
set5 = set1.difference(set2)
print("difference:",set5)

union : {1, 2, 3, 4, 5, 7, 8, 9}
intersection:  {2, 3}
difference: {1, 4, 5}

In [1]:
set1 = {"jan","feb","dec","mar"}
set2 = {"jan", "feb"}
print(set1>set2)
print(set1<set2)
print(set1==set2)

True
False
False

In [2]:
squares = {x ** 2 for x in range (5)}
print(squares)

{0, 1, 4, 9, 16}

In [4]:
numbers = [1,2,3,4,5]
squared_numbers = {x**2 for x in numbers}
print(squared_numbers)

{1, 4, 9, 16, 25}

In [9]:
numbers = [1,2,3,4,5]
even_numbers = {x for x in numbers if x % 2 == 0}
print(even_numbers)

{2, 4}

In [13]:
words = ['apple','banana','cherry','lyn']
vowels = {'a','e','i','o','u'}
vowel_words = {word for word in words if any(letter in vowels for letter in word)}
print(vowel_words)

{'cherry', 'banana', 'apple'}

In [17]:
duplicates = [1,2,3,3,4,5,1,6]
unique_squares = {x ** 2 for x in duplicates}
print(unique_squares)

{1, 4, 36, 9, 16, 25}

In [19]:
text = "hello world"
uppercase_letters = {char.upper() for char in text if char.isalpha()}
print(uppercase_letters)

{'W', 'D', 'H', 'O', 'E', 'R', 'L'}